In [3]:
import pandas as pd
import numpy as np

# data=pd.read_csv('/content/apy.csv')
data=pd.read_csv('apy.csv')

In [4]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [5]:
data['Crop'].unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut ', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Rapeseed &Mustard', 'Mesta',
       'Cowpea(Lobia)', 'Lemon', 'Pome Granet', 'Sapota', 'Cabbage',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Sannhamp',
       'Varagu', 'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total',
       'Jute', 'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard',
       'Pump Kin', 'Tea', 'Coffee', 'Cauliflower', 'Other Citrus Fruit',
       'Water Melon', 'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil',
       'Bean', 'Jobster', 'Perilla', 'Rajmash Kholar',
       'Ricebean (nagadal)', 'Ash Gourd', 'Beet Root', 'Lab-Lab',
       'Ribed Guard', 'Yam', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi',
       'Ber', 'Other Dry Fruit', 'Jute & mesta'], dtype=object)

In [6]:
data['State_Name']=data['State_Name'].astype('category')
data['District_Name']=data['District_Name'].astype('category')
data['Season']=data['Season'].astype('category')
data['Crop']=data['Crop'].astype('category')
data['Crop_Year']=data['Crop_Year'].astype('category')

In [7]:
data['State_Name']=data['State_Name'].cat.codes
data['District_Name']=data['District_Name'].cat.codes
data['Season']=data['Season'].cat.codes
data['Crop']=data['Crop'].cat.codes
data['Crop_Year']=data['Crop_Year'].cat.codes

In [8]:
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,427,3,1,2,1254.0,2000.0
1,0,427,3,1,74,2.0,1.0
2,0,427,3,1,95,102.0,321.0
3,0,427,3,4,7,176.0,641.0
4,0,427,3,4,22,720.0,165.0
...,...,...,...,...,...,...,...
246086,32,471,17,3,95,306.0,801.0
246087,32,471,17,3,102,627.0,463.0
246088,32,471,17,4,106,324.0,16250.0
246089,32,471,17,5,95,279151.0,597899.0
246090,32,471,17,5,102,175.0,88.0

In [9]:
data.isnull().values.any()

True

In [64]:
data.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [62]:
data1=data.drop(['Crop_Year'],axis=1)

In [65]:
removed=data1[data1['Production']>0].reset_index(drop=True)
removed

        State_Name  District_Name  Season  Crop      Area  Production
0                0            427       1     2    1254.0      2000.0
1                0            427       1    74       2.0         1.0
2                0            427       1    95     102.0       321.0
3                0            427       4     7     176.0       641.0
4                0            427       4    22     720.0       165.0
...            ...            ...     ...   ...       ...         ...
238833          32            471       3    95     306.0       801.0
238834          32            471       3   102     627.0       463.0
238835          32            471       4   106     324.0     16250.0
238836          32            471       5    95  279151.0    597899.0
238837          32            471       5   102     175.0        88.0

[238838 rows x 6 columns]

In [66]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import GradientBoostingRegressor
from numpy import mean
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from numpy import std
from sklearn.model_selection import train_test_split
imputer=KNNImputer(n_neighbors=5)
# imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
imputed=imputer.fit_transform(removed)

In [67]:
imputed

array([[0.00000e+00, 4.27000e+02, 1.00000e+00, 2.00000e+00, 1.25400e+03,
        2.00000e+03],
       [0.00000e+00, 4.27000e+02, 1.00000e+00, 7.40000e+01, 2.00000e+00,
        1.00000e+00],
       [0.00000e+00, 4.27000e+02, 1.00000e+00, 9.50000e+01, 1.02000e+02,
        3.21000e+02],
       ...,
       [3.20000e+01, 4.71000e+02, 4.00000e+00, 1.06000e+02, 3.24000e+02,
        1.62500e+04],
       [3.20000e+01, 4.71000e+02, 5.00000e+00, 9.50000e+01, 2.79151e+05,
        5.97899e+05],
       [3.20000e+01, 4.71000e+02, 5.00000e+00, 1.02000e+02, 1.75000e+02,
        8.80000e+01]])

In [68]:


import math
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor
scalerfile = 'scalergb.sav'
scaler = StandardScaler()


X=[]
y=[]
for ele in imputed:
  X.append(ele[:-1])
  try:
    y.append(math.log(ele[-1]))
  except:
    print(ele[-1])
math.log(197)

5.2832037287379885

In [69]:
scaler.fit(X)
pickle.dump(scaler, open(scalerfile, 'wb'))
scaled=scaler.transform(X)
X_train, X_test, y_train, y_test = train_test_split(
    scaled, y, test_size=0.1, random_state=13)

reg = GradientBoostingRegressor(random_state=0)
# reg=RandomForestRegressor(random_state=0)
# reg=SGDRegressor(loss="squared_loss", penalty=None)
reg.fit(scaled, y)

GradientBoostingRegressor(random_state=0)

In [70]:
math.exp(reg.predict(X_test[2].reshape(1,-1)))

2526.965878536092

In [71]:
math.exp(y_test[2])

20343.000000000015

In [72]:

pickle.dump(reg, open("modelgb.pkl", "wb"))

In [14]:
!python --version

Python 3.8.5

In [15]:
import sklearn
sklearn.__version__

'0.24.0'