In [97]:
import pandas as pd
import numpy as np

# data=pd.read_csv('/content/apy.csv')
f=pd.read_csv('apy.csv')
weatherdata=pd.read_csv('MergeFileCrop.csv')

In [98]:
f.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [99]:
wcrops=pd.unique(weatherdata['label'])
wcrops

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [100]:
crops=f['Crop'].str.lower().unique()
crops

array(['arecanut', 'other kharif pulses', 'rice', 'banana', 'cashewnut',
       'coconut ', 'dry ginger', 'sugarcane', 'sweet potato', 'tapioca',
       'black pepper', 'dry chillies', 'other oilseeds', 'turmeric',
       'maize', 'moong(green gram)', 'urad', 'arhar/tur', 'groundnut',
       'sunflower', 'bajra', 'castor seed', 'cotton(lint)', 'horse-gram',
       'jowar', 'korra', 'ragi', 'tobacco', 'gram', 'wheat', 'masoor',
       'sesamum', 'linseed', 'safflower', 'onion', 'other misc. pulses',
       'samai', 'small millets', 'coriander', 'potato',
       'other  rabi pulses', 'soyabean', 'beans & mutter(vegetable)',
       'bhindi', 'brinjal', 'citrus fruit', 'cucumber', 'grapes', 'mango',
       'orange', 'other fibres', 'other fresh fruits', 'other vegetables',
       'papaya', 'pome fruit', 'tomato', 'rapeseed &mustard', 'mesta',
       'cowpea(lobia)', 'lemon', 'pome granet', 'sapota', 'cabbage',
       'peas  (vegetable)', 'niger seed', 'bottle gourd', 'sannhamp',
       'varagu', 'garlic', 'ginger', 'oilseeds total', 'pulses total',
       'jute', 'peas & beans (pulses)', 'blackgram', 'paddy', 'pineapple',
       'barley', 'khesari', 'guar seed', 'moth',
       'other cereals & millets', 'cond-spcs other', 'turnip', 'carrot',
       'redish', 'arcanut (processed)', 'atcanut (raw)',
       'cashewnut processed', 'cashewnut raw', 'cardamom', 'rubber',
       'bitter gourd', 'drum stick', 'jack fruit', 'snak guard',
       'pump kin', 'tea', 'coffee', 'cauliflower', 'other citrus fruit',
       'water melon', 'total foodgrain', 'kapas', 'colocosia', 'lentil',
       'bean', 'jobster', 'perilla', 'rajmash kholar',
       'ricebean (nagadal)', 'ash gourd', 'beet root', 'lab-lab',
       'ribed guard', 'yam', 'apple', 'peach', 'pear', 'plums', 'litchi',
       'ber', 'other dry fruit', 'jute & mesta'], dtype=object)

In [101]:
lst3 = [value for value in crops if value in wcrops]
lst3

['rice',
 'banana',
 'maize',
 'grapes',
 'mango',
 'orange',
 'papaya',
 'jute',
 'blackgram',
 'coffee',
 'lentil',
 'apple']

In [102]:
data=f[f['Crop'].str.lower().isin(lst3)].reset_index(drop=True)
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.00
1,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.00
2,Andaman and Nicobar Islands,NICOBARS,2001,Kharif,Rice,83.0,300.00
3,Andaman and Nicobar Islands,NICOBARS,2002,Kharif,Rice,189.2,510.84
4,Andaman and Nicobar Islands,NICOBARS,2002,Whole Year,Banana,213.0,1278.00
...,...,...,...,...,...,...,...
35199,West Bengal,PURULIA,2014,Autumn,Maize,6317.0,13337.00
35200,West Bengal,PURULIA,2014,Autumn,Rice,264.0,721.00
35201,West Bengal,PURULIA,2014,Summer,Maize,325.0,2039.00
35202,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.00
35203,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.00

In [103]:
data.to_csv("indiaselected.csv")

In [104]:
data['State_Name'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [106]:
data['State_Name']=data['State_Name'].astype('category')
data['District_Name']=data['District_Name'].astype('category')
data['Season']=data['Season'].astype('category')
data['Crop']=data['Crop'].astype('category')
# data['Crop_Year']=data['Crop_Year'].astype('category')

In [107]:
data['State_Name']=data['State_Name'].cat.codes
data['District_Name']=data['District_Name'].cat.codes
data['Season']=data['Season'].cat.codes
data['Crop']=data['Crop'].cat.codes
# data['Crop_Year']=data['Crop_Year'].cat.codes

In [108]:
data

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,0,424,2000,1,11,102.0,321.00
1,0,424,2000,4,1,176.0,641.00
2,0,424,2001,1,11,83.0,300.00
3,0,424,2002,1,11,189.2,510.84
4,0,424,2002,4,1,213.0,1278.00
...,...,...,...,...,...,...,...
35199,32,468,2014,0,7,6317.0,13337.00
35200,32,468,2014,0,11,264.0,721.00
35201,32,468,2014,3,7,325.0,2039.00
35202,32,468,2014,3,11,306.0,801.00
35203,32,468,2014,5,11,279151.0,597899.00

In [109]:
data.isnull().values.any()

True

In [110]:
data.columns

Index(['State_Name', 'District_Name', 'Crop_Year', 'Season', 'Crop', 'Area',
       'Production'],
      dtype='object')

In [111]:
data1=data.drop(['Crop_Year'],axis=1)

In [112]:
removed=data1[data1['Production']>0].reset_index(drop=True)
removed

       State_Name  District_Name  Season  Crop      Area  Production
0               0            424       1    11     102.0      321.00
1               0            424       4     1     176.0      641.00
2               0            424       1    11      83.0      300.00
3               0            424       1    11     189.2      510.84
4               0            424       4     1     213.0     1278.00
...           ...            ...     ...   ...       ...         ...
34538          32            468       0     7    6317.0    13337.00
34539          32            468       0    11     264.0      721.00
34540          32            468       3     7     325.0     2039.00
34541          32            468       3    11     306.0      801.00
34542          32            468       5    11  279151.0   597899.00

[34543 rows x 6 columns]

In [113]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import GradientBoostingRegressor
from numpy import mean
from sklearn.impute import SimpleImputer
from sklearn.impute import KNNImputer
from numpy import std
from sklearn.model_selection import train_test_split
imputer=KNNImputer(n_neighbors=5)
# imputer=SimpleImputer(missing_values=np.nan, strategy='mean')
imputed=imputer.fit_transform(removed)

In [114]:
imputed

array([[0.00000e+00, 4.24000e+02, 1.00000e+00, 1.10000e+01, 1.02000e+02,
        3.21000e+02],
       [0.00000e+00, 4.24000e+02, 4.00000e+00, 1.00000e+00, 1.76000e+02,
        6.41000e+02],
       [0.00000e+00, 4.24000e+02, 1.00000e+00, 1.10000e+01, 8.30000e+01,
        3.00000e+02],
       ...,
       [3.20000e+01, 4.68000e+02, 3.00000e+00, 7.00000e+00, 3.25000e+02,
        2.03900e+03],
       [3.20000e+01, 4.68000e+02, 3.00000e+00, 1.10000e+01, 3.06000e+02,
        8.01000e+02],
       [3.20000e+01, 4.68000e+02, 5.00000e+00, 1.10000e+01, 2.79151e+05,
        5.97899e+05]])

In [115]:


import math
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor
scalerfile = 'scalergb.sav'
scaler = StandardScaler()


X=[]
y=[]
for ele in imputed:
  X.append(ele[:-1])
  try:
    y.append(math.log(ele[-1]))
  except:
    print(ele[-1])
math.log(197)

5.2832037287379885

In [116]:
scaler.fit(X)
pickle.dump(scaler, open(scalerfile, 'wb'))
scaled=scaler.transform(X)
X_train, X_test, y_train, y_test = train_test_split(
    scaled, y, test_size=0.1, random_state=13)

reg = GradientBoostingRegressor(random_state=0)
# reg=RandomForestRegressor(random_state=0)
# reg=SGDRegressor(loss="squared_loss", penalty=None)
reg.fit(scaled, y)

GradientBoostingRegressor(random_state=0)

In [117]:
math.exp(reg.predict(X_test[2].reshape(1,-1)))

347238.1408499154

In [118]:
math.exp(y_test[2])

403882.0000000001

In [119]:

pickle.dump(reg, open("modelgb.pkl", "wb"))

In [14]:
!python --version

Python 3.8.5

In [15]:
import sklearn
sklearn.__version__

'0.24.0'