In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv('/content/apy.csv')

In [2]:
data.head()

                    State_Name District_Name  ...    Area Production
0  Andaman and Nicobar Islands      NICOBARS  ...  1254.0     2000.0
1  Andaman and Nicobar Islands      NICOBARS  ...     2.0        1.0
2  Andaman and Nicobar Islands      NICOBARS  ...   102.0      321.0
3  Andaman and Nicobar Islands      NICOBARS  ...   176.0      641.0
4  Andaman and Nicobar Islands      NICOBARS  ...   720.0      165.0

[5 rows x 7 columns]

In [3]:
data['Crop'].unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut ', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Rapeseed &Mustard', 'Mesta',
       'Cowpea(Lobia)', 'Lemon', 'Pome Granet', 'Sapota', 'Cabbage',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Sannhamp',
       'Varagu', 'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total',
       'Jute', 'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard',
       'Pump Kin', 'Tea', 'Coffee', 'Cauliflower', 'Other Citrus Fruit',
       'Water Melon', 'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil',
       'Bean', 'Jobster', 'Perilla', 'Rajmash Kholar',
       'Ricebean (nagadal)', 'Ash Gourd', 'Beet Root', 'Lab-Lab',
       'Ribed Guard', 'Yam', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi',
       'Ber', 'Other Dry Fruit', 'Jute & mesta'], dtype=object)

In [4]:
data['State_Name']=data['State_Name'].astype('category')
data['District_Name']=data['District_Name'].astype('category')
data['Season']=data['Season'].astype('category')
data['Crop']=data['Crop'].astype('category')
data['Crop_Year']=data['Crop_Year'].astype('category')

In [5]:
data['State_Name']=data['State_Name'].cat.codes
data['District_Name']=data['District_Name'].cat.codes
data['Season']=data['Season'].cat.codes
data['Crop']=data['Crop'].cat.codes
data['Crop_Year']=data['Crop_Year'].cat.codes

In [6]:
data

        State_Name  District_Name  Crop_Year  ...  Crop      Area  Production
0                0            427          3  ...     2    1254.0      2000.0
1                0            427          3  ...    74       2.0         1.0
2                0            427          3  ...    95     102.0       321.0
3                0            427          3  ...     7     176.0       641.0
4                0            427          3  ...    22     720.0       165.0
...            ...            ...        ...  ...   ...       ...         ...
246086          32            471         17  ...    95     306.0       801.0
246087          32            471         17  ...   102     627.0       463.0
246088          32            471         17  ...   106     324.0     16250.0
246089          32            471         17  ...    95  279151.0    597899.0
246090          32            471         17  ...   102     175.0        88.0

[246091 rows x 7 columns]

In [7]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import GradientBoostingRegressor
from numpy import mean
from sklearn.impute import KNNImputer
from numpy import std
from sklearn.model_selection import train_test_split

imputer=KNNImputer(n_neighbors=4)
imputed=imputer.fit_transform(data)

In [19]:
imputed

array([[0.00000e+00, 4.27000e+02, 2.00000e+03, ..., 2.00000e+00,
        1.25400e+03, 2.00000e+03],
       [0.00000e+00, 4.27000e+02, 2.00000e+03, ..., 7.40000e+01,
        2.00000e+00, 1.00000e+00],
       [0.00000e+00, 4.27000e+02, 2.00000e+03, ..., 9.50000e+01,
        1.02000e+02, 3.21000e+02],
       ...,
       [3.20000e+01, 4.71000e+02, 2.01400e+03, ..., 1.06000e+02,
        3.24000e+02, 1.62500e+04],
       [3.20000e+01, 4.71000e+02, 2.01400e+03, ..., 9.50000e+01,
        2.79151e+05, 5.97899e+05],
       [3.20000e+01, 4.71000e+02, 2.01400e+03, ..., 1.02000e+02,
        1.75000e+02, 8.80000e+01]])

In [12]:


from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(imputed)
scaled=scaler.transform(imputed)

X=[]
y=[]
for ele in scaled:
  X.append(ele[:-1])
  y.append(ele[-1])

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=13)

reg = GradientBoostingRegressor(random_state=0)
reg.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=0, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [16]:
reg.predict(X_test[2].reshape(1,-1))

array([-0.03650638])

In [17]:
y_test[2]

-0.033589790206108146

In [18]:
import pickle

pickle.dump(reg, open("model.pkl", "wb"))