In [1]:
import pandas as pd 
import numpy as np
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree

In [34]:
# from google.colab import drive 
# drive.mount('/content/gdrive')

In [2]:
# root_path= '/content/gdrive/My Drive/MergeFileCrop.csv'
root_path='MergeFileCrop.csv'
otherfile='indiaselected.csv'

In [3]:
df=pd.read_csv(root_path)
of=pd.read_csv(otherfile)

In [37]:
df.head()

   Unnamed: 0  temperature   humidity        ph    rainfall label
0           0    20.879744  82.002744  6.502985  202.935536  rice
1           1    21.770462  80.319644  7.038096  226.655537  rice
2           2    23.004459  82.320763  7.840207  263.964248  rice
3           3    26.491096  80.158363  6.980401  242.864034  rice
4           4    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
crops=of['Crop'].str.lower().unique()
crops

array(['rice', 'banana', 'maize', 'grapes', 'mango', 'orange', 'papaya',
       'jute', 'blackgram', 'coffee', 'lentil', 'apple'], dtype=object)

In [7]:
df1=df[df['label'].isin(crops)].reset_index(drop=True)

In [8]:
df2=df1.drop(columns=['Unnamed: 0','ph'])

In [9]:
features = df2[['temperature', 'humidity','rainfall']]
target = df2['label']
features.isna().any()

temperature    False
humidity       False
rainfall       False
dtype: bool

In [10]:
import pickle
from sklearn.preprocessing import StandardScaler
scalerfile = 'scalerrf.sav'
scaler = StandardScaler()
scaler.fit(features)
pickle.dump(scaler, open(scalerfile, 'wb'))
scaled=scaler.transform(features)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled,target,test_size = 0.2,random_state =2)

In [12]:
from sklearn.ensemble import RandomForestClassifier

regressor = RandomForestClassifier(n_estimators=20, random_state=0)
regressor.fit(X_train,y_train)

predicted_values = regressor.predict(X_test)

x = metrics.accuracy_score(y_test, predicted_values)

In [13]:
x

0.9583333333333334

In [14]:
print(classification_report(y_test,predicted_values))

              precision    recall  f1-score   support

       apple       0.86      0.95      0.90        20
      banana       0.97      1.00      0.98        28
   blackgram       1.00      0.91      0.95        22
      coffee       1.00      0.94      0.97        16
      grapes       1.00      1.00      1.00        20
        jute       0.91      1.00      0.95        21
      lentil       1.00      1.00      1.00        20
       maize       0.89      1.00      0.94        16
       mango       1.00      1.00      1.00        21
      orange       0.92      0.75      0.83        16
      papaya       0.95      1.00      0.98        21
        rice       1.00      0.89      0.94        19

    accuracy                           0.96       240
   macro avg       0.96      0.95      0.95       240
weighted avg       0.96      0.96      0.96       240

In [15]:
predicted_values

array(['jute', 'banana', 'rice', 'papaya', 'rice', 'coffee', 'grapes',
       'jute', 'apple', 'papaya', 'maize', 'blackgram', 'orange',
       'papaya', 'apple', 'blackgram', 'blackgram', 'papaya', 'apple',
       'lentil', 'coffee', 'banana', 'grapes', 'papaya', 'maize', 'jute',
       'banana', 'lentil', 'blackgram', 'rice', 'orange', 'apple',
       'coffee', 'mango', 'grapes', 'jute', 'banana', 'coffee', 'papaya',
       'mango', 'papaya', 'lentil', 'grapes', 'lentil', 'jute', 'grapes',
       'papaya', 'banana', 'lentil', 'banana', 'lentil', 'orange', 'jute',
       'grapes', 'blackgram', 'lentil', 'apple', 'maize', 'banana',
       'jute', 'orange', 'banana', 'jute', 'blackgram', 'coffee', 'jute',
       'mango', 'orange', 'banana', 'papaya', 'lentil', 'mango', 'mango',
       'jute', 'banana', 'banana', 'rice', 'mango', 'papaya', 'lentil',
       'apple', 'papaya', 'coffee', 'rice', 'rice', 'mango', 'orange',
       'papaya', 'grapes', 'jute', 'mango', 'lentil', 'papaya', 'mango',
       'rice', 'coffee', 'blackgram', 'orange', 'jute', 'mango', 'mango',
       'apple', 'papaya', 'blackgram', 'grapes', 'lentil', 'rice', 'rice',
       'maize', 'maize', 'lentil', 'blackgram', 'blackgram', 'papaya',
       'blackgram', 'orange', 'orange', 'maize', 'maize', 'blackgram',
       'blackgram', 'coffee', 'apple', 'grapes', 'lentil', 'jute',
       'maize', 'jute', 'lentil', 'papaya', 'blackgram', 'grapes',
       'maize', 'lentil', 'apple', 'mango', 'apple', 'blackgram', 'apple',
       'banana', 'apple', 'orange', 'banana', 'grapes', 'rice', 'mango',
       'grapes', 'maize', 'apple', 'apple', 'papaya', 'grapes', 'banana',
       'papaya', 'maize', 'mango', 'grapes', 'jute', 'banana',
       'blackgram', 'banana', 'grapes', 'jute', 'maize', 'lentil',
       'coffee', 'grapes', 'grapes', 'grapes', 'jute', 'rice', 'lentil',
       'jute', 'mango', 'apple', 'maize', 'rice', 'banana', 'mango',
       'apple', 'banana', 'apple', 'rice', 'lentil', 'banana',
       'blackgram', 'apple', 'banana', 'maize', 'papaya', 'banana',
       'grapes', 'mango', 'banana', 'banana', 'blackgram', 'coffee',
       'coffee', 'banana', 'maize', 'blackgram', 'banana', 'maize',
       'jute', 'jute', 'orange', 'rice', 'coffee', 'jute', 'orange',
       'mango', 'jute', 'rice', 'coffee', 'mango', 'maize', 'banana',
       'lentil', 'lentil', 'apple', 'papaya', 'papaya', 'orange', 'mango',
       'apple', 'papaya', 'coffee', 'rice', 'mango', 'apple', 'maize',
       'apple', 'rice', 'banana', 'jute', 'coffee', 'banana', 'grapes',
       'blackgram', 'banana'], dtype=object)

In [16]:
y_test

1049         jute
476        banana
61           rice
910        papaya
68           rice
          ...
1180       coffee
402        banana
601        grapes
286     blackgram
492        banana
Name: label, Length: 240, dtype: object

In [17]:
pickle.dump(regressor, open("modelrf.pkl", "wb"))

In [48]:
!python --version

Python 3.8.5